target/
!**/src/main/**/target/
!**/src/test/**/target/
#####################
# Compiled class file
######################
*.class

######################
# Project Specific
######################
/build/www/**
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*

######################
# SASS
######################
.sass-cache/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

######################
# External tool builders
######################
.externalToolBuilders/**

######################
# Locally stored "Eclipse launch configurations"
*.launch
######################

######################
# BlueJ files
######################
*.ctxt

######################
# CDT-specific
######################
.cproject

######################
# STS
######################
.apt_generated
.settings
.springBeans
.sts4-cache

######################
# IntelliJ IDEA
######################
.idea/
*.iws
*.iml
*.ipr
*.ids
*.orig
.idea

######################
# NetBeans
######################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

######################
# Visual Studio Code
.vscode/
######################

######################
# Maven
######################
/log/
/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/MavenWrapperDownloader.java

######################
# Gradle
######################
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

######################
# Package Files
######################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.db

######################
# Windows image file cache
######################
Thumbs.db

######################
# Windows folder config
######################
Desktop.ini

######################
# Logs
######################
*.log

######################
# Others
######################
*.*~
*~
.merge_files

######################
# ESLint
######################
.eslintcache

######################
# virtual machine crash logs,
# see http://www.java.com/en/download/help/error_hotspot.xml
######################
hs_err_pid*

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Thumbnails
######################
._*

######################
# Files that might appear on external disk
######################
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/


